extends layout

block content
  #login.center-vertical
    form.well
      h2 Hello!
      h6 Please Login To Your Account
      .form-group
        label Username
        input.form-control(type='text')
      .form-group
        label Password
        input.form-control(type='password')
      .controls
        button(type='button').btn.btn-default.button-remember-me
          span.glyphicon.glyphicon-unchecked.button-remember-me-glyph
          | Remember Me
        button(type='submit').btn.btn-primary.button-sign-in
          span.glyphicon.glyphicon-lock
          | Sign In